<div id="pageHead">
				<h1>About this site</h1>

			</div>

			<div class="inside">

					<p>This site is the first joint venture of a group of NHS doctors, academics, and london tech start-ups, individually listed below, who met at NHS Hack Day. We love open data, technology, and the NHS, and we think that bringing all of these together in the right way could be amazing. Email us at <a href="mailto:info@prescribinganalytics.com">info@prescribinganalytics.com</a> if you’d like to talk.</p>
<p>&nbsp;</p>
<div class="one_half column"><a href="http://openhealthcare.org.uk/" target="_blank"><img class="alignnone size-full wp-image-180" title="Open Health Care UK logo" src="/img/logo-ohcuk.png" alt="" width="260" height="97" /></a> </div>
<div class="one_half column last">
<p>Open Health Care UK<br />
We love the NHS so we’re working hard to make NHS IT less bad&#8230;. we make highly usable, and useful, apps and web services for doctors. We also do analytics that amaze, credible digital health consultancy, and the awesome NHS Hack Days. <a href="http://www.openhealthcare.org.uk">www.openhealthcare.org.uk</a> </div>
<div class="clearboth"></div>
<div class="one_half column"> <a href="https://www.mastodonc.com/" target="_blank"><img class="alignnone size-full wp-image-181" title="Mastodon C logo" src="/img/logo-mastodon.png" alt="" width="260" height="248" /></a> </div>
<div class="one_half column last">
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>Your business could be even more successful, if only you could unlock the power of all the data that you already have. But it&#8217;s hard to even know where to start — the data is big, it&#8217;s messy, and the analytical and technology options can be bewildering.<br />
Mastodon C are agile big data specialists. We offer the open source technology platform and the skills to help you realise that potential, and we do it all on zero carbon infrastructure. <a href="https://www.mastodonc.com" target="_blank">www.mastodonc.com</a></div>
<div class="clearboth"></div>
<p>&nbsp;</p>
<div class="one_half column"> <a href="http://www.theodi.org/" target="_blank"><img class="alignnone size-full wp-image-182" title="Open Data Institute logo" src="/img/logo-odi.png" alt="" width="259" height="107" /></a> </div>
<div class="one_half column last">
<p>The Open Data Institute (ODI) will be a global first: a collaboration between our leading businesses and entrepreneurs, universities and researchers, government and civil society to unlock enterprise and social value from the vast amount of Open Government Data now being made accessible. <a href="http://www.theodi.org" target="_blank">www.theodi.org</a> </div>
<div class="clearboth"></div>
<div class="one_half column"> <a href="http://www.badscience.net/" target="_blank"><img class="alignnone size-full wp-image-183" title="Bad Science logo" src="/img/logo-badscience.png" alt="" width="260" height="183" /></a> </div>
<div class="one_half column last">
<p>&nbsp;</p>
<p>Dr Ben Goldacre is a best-selling author, broadcaster, medical doctor and academic who specialises in unpicking dodgy scientific claims from drug companies, newspapers, government reports, PR people and quacks. Unpicking bad science is the best way to explain good science. <a href="http://www.badscience.net/" target="_blank">www.badscience.net</a></div>
<div class="clearboth"></div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><span class="credit">Site design by <a href="http://portfolio.londonlime.net" target="_blank">Londonlime</a>. WordPress theme by <a href="http://themetrust.com" target="_blank">ThemeTrust</a>. Background image <a href="http://flickr.com/vxla/" target="_blank">flickr.com/vxla/</a>CC BY </span></p>
</div>