<div id="pageHead">
				<h1>Detailed Statin Analysis</h1>

			</div>

			<div class="inside">

					<p id="internal-source-marker_0.35414641077010933" dir="ltr">Statins are the NHS’s second largest class of drugs by spend. NICE Clinical Guidance 67 suggests 40mg Simvastatin, a generic drug, as the default prescription for the reduction of lipids and prevention of cardiovascular disease.</p>
<p>There are five statins, and one combination therapy, which prescribers can choose from. These are:</p>
<ul class="statinlist">
<li dir="ltr"><strong>Atorvastatin</strong> (brand name <strong>Lipitor</strong>. Became generic June 2012)</li>
<li dir="ltr"><strong>Fluvastatin Sodium</strong> (could be branded or generic)</li>
<li dir="ltr"><strong>Pravastatin Sodium</strong> (could be branded or generic)</li>
<li dir="ltr"><strong>Rosuvastatin Calcium</strong> (brand name <strong>Crestor</strong>. No generic includes this ingredient)</li>
<li dir="ltr"><strong>Simvastatin</strong> (generic only)</li>
<li dir="ltr"><strong>Simvastatin</strong> &amp; <strong>Ezetimibe</strong> (generic only)</li>
</ul>
<p>Prior to June 2012, when Atorvastatin came of patent, Atorvastatin and Rosuvastatin both cost at least 11 times more than Simvastatin 40mg, and sometimes more, depending on dosage. The spend per month on these drugs is as follows.</p>
<p>[CHART HERE]</p>
<p>In June 2012, Atorvastatin became available in generic form and the price dropped dramatically, as shown on the chart. Since that time, generic Atorvastatin might be a reasonable and cost-effective choice, so we have excluded dates after that time from this analysis.</p>
<p>In that time period, the NHS could have saved a median £4 million per month if all GP prescribers exchanged Rosuvastatin Calcium for Simvastatin, and a median £21 million per month if they exchanged Atorvastatin for Simvastatin.</p>
<p>We have conservatively assumed that all other drugs are prescribed in their generic forms, since we don’t have the exact data on which of branded or generic was prescribed. The likelihood is that the true potential savings would be higher, with more accurate data.</p>
<p>To reproduce or check these figures, please read the <a title="Methodology" href="/methodology">Methodology</a>.</p>





						</div>