<div id="pageHead">
				<h1>FAQ</h1>

			</div>

			<div class="inside">

					<h3>Where have these numbers come from?</h3>
<p>We have looked at NHS General Practice prescribing data. This is publically available information, released each month, on the number and cost to the NHS of prescriptions written by each doctors’ surgery in England.</p>
<p>Our analysis looks at the amount of money spent on medicines that we believe should never (or only very rarely) be prescribed. This is because other medicines are available that are just as good and cost a fraction of the price.</p>
<h3>What have you found?</h3>
<p>We have found that every month £25 million pounds is wasted on expensive statins – anticholesterol medicines. There is no evidence that these statins are any better than other statins that cost a fraction of the price.</p>
<h3>Why does this matter?</h3>
<p>This matters for two reasons. First, our findings should ring alarm bells about how doctors in England make choices about how they prescribe. We discuss this below.</p>
<p>Second, money available for healthcare is not limitless. Wasteful spending on unnecessary expensive drugs mean that, elsewhere in the NHS, patients are missing out. Maybe another nurse could be employed or a patient could be given a treatment that is currently unaffordable.</p>
<p>Dr James Moon, a cardiologist, has calculated that the NHS could save £1.4bn per year if doctors switched patients from expensive medicines to cheap ones that are <a href="http://www.bmj.com/content/341/bmj.c6449">just as good(1)</a>.</p>
<h3>Is this just evidence that the NHS is wasteful?</h3>
<p>International comparisons in healthcare are really complicated. We believe that the NHS is one of the most efficient health systems out there but that is a discussion for another day.<br />
</p>
<h3>Why don’t you name and shame doctors who are wasting NHS resources?</h3>
<p>We believe it is right that these data are in the public domain. We think that GPs are well paid professionals who should be accountable for the prescribing decisions that they take. Any journalist could, very quickly, work out which practices are wasting the most money. The public should be angry about this waste.</p>
<p>However, we have chosen not to name and shame doctors’ practices who are prescribing irrationally. This story is about systematic problems, not stupid decisions by a handful of doctors. We would rather that the heat be turned on people who could, quite quickly, enact changes that would put a stop to all of this.</p>
<p>1. Getting better value from the NHS drug budget, James Moon et al. BMJ 2010;341:c6449 <a href="http://www.bmj.com/content/341/bmj.c6449" target="_blank">www.bmj.com/content/341/bmj.c6449</a></p>





						</div>