<div id="pageHead">
    <h1>FAQ</h1>
</div>

			<div class="inside">

					<h3>Where have these numbers come from?</h3>
<p>
We have looked at NHS General Practice prescribing data. This is publically available information, released each month, on the number and cost to the NHS of prescriptions written by each doctors’ surgery in England.
</p>
<p>
Our analysis looks at the amount of money spent on medicines that many people believe should never (or only very rarely) be prescribed. This is because other medicines are available that are just as good and cost a fraction of the price.
</p>
<h3>What have you found?</h3>
<p>
We have found that every month £25 million pounds is wasted on expensive statins – anticholesterol medicines. There is no evidence that these statins are any better than other statins that cost a fraction of the price.
</p>
<h3>Why does this matter?</h3>
<p>
This matters for two reasons. First, our findings should ring alarm bells about how doctors in England make choices about how they prescribe. We discuss this below.
</p>
<p>
Second, money available for healthcare is not limitless. Wasteful spending on unnecessary expensive drugs mean that, elsewhere in the NHS, patients are missing out. Maybe another nurse could be employed or a patient could be given a treatment that is currently unaffordable.
</p>
<p>
Dr James Moon, a cardiologist, has calculated that the NHS could save £1.4bn per year if doctors switched patients from expensive medicines to cheap ones that are <a href="http://www.bmj.com/content/341/bmj.c6449">just as good</a>.
</p>
<h3>Is this just evidence that the NHS is wasteful?</h3>
<p>International comparisons in healthcare are really complicated. We believe that the NHS is one of the most efficient health systems out there but that is a discussion for another day.<br />
</p>
<h3>
Is every prescription for a branded statin wasteful?
</h3>
<p>
No. Sometimes there are legitimate reasons to prescribe an expensive branded statin, for example if a patient has an idiosyncratic adverse reaction to the cheapest generic statin, it may be reasonable to switch to a more unusual and expensive statin; or if they have certain uncommon medical problems, there are some reasons to think they may do better on an unusual expensive statin. For these reasons, you cannot be absolutely certain that every single branded statin prescription is wasteful.
</p>




						</div>