			<div id="pageHead">
				<h1>Home/ Statin Waste</h1>

			</div>

			<div class="inside">

					<p><a href="http://test.prescribinganalytics.com/wp-content/uploads/2012/11/scrip-map-shot-7001.png"><img class="aligncenter" title="scrip-map-shot-700" src="http://test.prescribinganalytics.com/wp-content/uploads/2012/11/scrip-map-shot-7001.png" alt="" width="700" height="436" /></a></p>
<p>link to visualisation bigger/ full screen in a new window?</p>
<p>main page with visualisations of statin waste (as seen on prescriber analytics) &#8211; maybe should have a slider?</p>
<p>&nbsp;</p>
<p>wonder if a theme with a full width would be better? although supporting info probably good for home page?</p>





						</div>
		</div>
	</div>
