<div id="pageHead">
	<h1>Home</h1>
</div>

<div class="inside">

					<h2 class="headline"><strong>NHS efficiency savings: the role of prescribing analytics</strong><br />
</h2>
<p>
The NHS has been challenged to make £20 billion in “efficiency savings” by 2015 <a href="#note2"> (1)</a>. £10 billion a year are spent by the NHS on essential drugs. Often, there’s a choice between a cheap “generic” medication, or an expensive “branded” one. Branded drugs can cost over ten times as much, for the same therapeutic benefit. “Prescribing Advisors” in the NHS, with the support of NICE, encourage doctors to use the most cost effective treatments. We have analysed exactly how much is spent on expensive “branded” medicines, for one class of drugs, namely statins, in England.



    <h4 style="color:#3A8585" >Percentage of proprietary statin prescribing by CCG Sep 2011 - May 2012</h4>
    <center>
	<div id="map">
	   <img src="https://s3-eu-west-1.amazonaws.com/prescribinganalytics/img/spinner.gif" style='margin-top:20px;'>
	</div>
    </center>

    <p>
        <a name="data" href="/pct#map">Show PCT data</a>
    </p>

<br/>




<p>Where generic alternatives exist, NHS purchasing of branded drugs has a number of effects:</p>

<p style="padding-left: 30px;">1. There is only a finite amount of money to spend on treatments. Prescribing a patient expensive branded drugs, when cheaper equivalents would have the same therapeutic effect, means that money is wasted. As a result the NHS has less money to spend on the care needed by other patients.</p>
<p style="padding-left: 30px;">2. Older, cheaper drugs may be safer, since they have generally been tried and tested in more people.</p>
<p style="padding-left: 30px;">3. Drug companies make drugs to make money. If we spend hundreds of millions of pounds on branded drugs that produce - at best - a small incremental benefit, then this may not encourage genuine innovation, to discover new “breakthrough” treatments.</p>


<p>Prescribing variation is a complex issue, and sometimes there are legitimate clinical reasons for a doctor to use an expensive branded drug. However, variations in prescribing practice suggest that there may be an opportunity to save money. Clear feedback on spending to doctors, NHS managers, public health practitioners, government, and the public can help to identify potential savings. We aim to help the NHS find opportunities, at a time of great change and financial pressure, by identifying and mapping prescribing variation against NICE guidance <a href="#note2"> (2)</a>, using open data.</p>

<p>The map referenced above shows one example: variation in GPs' prescriptions of statins, which are used to lower cholesterol. It shows the percentage of statin prescription items in two classes of branded statins, at CCG level. NICE guidelines for that period said that the generic Simvastatin should be a default option for patients. Wherever the percentage of branded items is high, it represents potential to make big savings by switching. For example, if two thirds of the proprietary drugs had switched to the generic forms of the same drugs in the year to June 2012, this would have saved £200 million pounds. Any savings could be used to help other patients.</p>



    <script type="text/javascript" src="https://s3-eu-west-1.amazonaws.com/prescribinganalytics/js/leaflet.js"></script>

	<script type="text/javascript">
var map = L.map('map').setView([53.0, -1.5], 6);

		var cloudmade = L.tileLayer('http://{s}.tile.cloudmade.com/{key}/{styleId}/256/{z}/{x}/{y}.png', {
			attribution: 'Map data &copy; 2011 OpenStreetMap contributors, Imagery &copy; 2011 CloudMade',
			key: 'BC9A493B41014CAABB98F0471D759707',
			styleId: 22677
		}).addTo(map);


		// control that shows state info on hover
		var info = L.control();

		info.onAdd = function (map) {
			this._div = L.DomUtil.create('div', 'info');
			this.update();
			return this._div;
		};

		info.update = function (props) {
			this._div.innerHTML = '<h4>Proprietary Statins Prescribing</h4>'
		+  (props ? '<b>Region: ' + props.region + '</b><br />'
		            + '<b>CCG: ' + props.ccg_name + '</b><br />'
		            + props.ccg_problem.toFixed(2) + '% statin items proprietary'
                            + '<br />' + props.total_items_month + ' statin items per month prescribed'
                            + '<br />' + props.population + ' population'
                            + '<br />' + props.no_of_practices + ' GP Practices'
                          : 'Hover over a Primary Care Trust');
		};

		info.addTo(map);


		// get color depending on population density value
		function getColor(d) {
			return d > 27  ? '#990000' :
			       d > 25  ? '#D7301F' :
			       d > 24  ? '#EF6548' :
	                       d > 23  ? '#FC8D59' :
			       d > 22  ? '#FDBB84' :
			       d > 21  ? '#FDD49E' :
			       d > 19  ? '#FEE8C8' :
			                 '#FFF7EC';
		}


		function style(feature) {
			return {
				weight: 2,
				opacity: 1,
				color: 'white',
				dashArray: '3',
				fillOpacity: 0.7,
				fillColor: getColor(feature.properties.ccg_problem)
			};
		}

		function highlightFeature(e) {
			var layer = e.target;

			layer.setStyle({
				weight: 5,
				color: '#666',
				dashArray: '',
				fillOpacity: 0.7
			});

			if (!L.Browser.ie && !L.Browser.opera) {
				layer.bringToFront();
			}

			info.update(layer.feature.properties);
		}

		var geojson;

		function resetHighlight(e) {
			geojson.resetStyle(e.target);
			info.update();
		}

		function zoomToFeature(e) {
			map.fitBounds(e.target.getBounds());
		}

		function onEachFeature(feature, layer) {
			layer.on({
				mouseover: highlightFeature,
				mouseout: resetHighlight,
				click: zoomToFeature
			});
		}



		map.attributionControl.addAttribution('Prescription data from <a href="http://www.ic.nhs.uk/prescribing">NHS Information Centre</a>');


		var legend = L.control({position: 'bottomright'});

		legend.onAdd = function (map) {

			var div = L.DomUtil.create('div', 'info legend'),
				grades = [0, 19, 21, 22, 23, 24, 25, 27, 35], // [0, 10, 20, 50, 100, 200, 500, 1000],
				labels = [],
				from, to;

			for (var i = 0; i < grades.length; i++) {
				from = grades[i];
				to = grades[i + 1];

				labels.push(
					'<i style="background:' + getColor(from + 1) + '"></i> ' +
					from + (to ? '&ndash;' + to : '+'));
			}

			div.innerHTML = labels.join('<br>');
			return div;
		};

		legend.addTo(map);

	</script>

  	<script type="text/javascript" src="https://s3-eu-west-1.amazonaws.com/prescribinganalytics/ccg-data.js"></script>
        <script type="text/javascript">
        geojson = L.geoJson(ccgData, { style: style,
			                           onEachFeature: onEachFeature}).addTo(map);
        </script>


<p><a name="note1"></a> 1.<a href="http://en.wikipedia.org/wiki/Nicholson_challenge" target="_blank">en.wikipedia.org/wiki/Nicholson_challenge</a><br />
<a name="note2"></a>2.The National Institute of Clinical Excellence (NICE) issues guidance to UK healthcare professionals that takes account of the value for money, or cost effectiveness, of available treatments.<br />
<a href="http://www.nice.org.uk/nicemedia/live/11982/40675/40675.pdf" target="_blank">www.nice.org.uk/nicemedia/live/11982/40675/40675.pdf</a> (NICE lipid modification guidelines)</p>



<h4>Other drugs</h4>
<p>Statins are just the start of this story. Our preliminary analysis of several other drug classes suggests statins are just the tip of the iceberg in UK prescribing variation, and potential savings.
We are developing tools to help all interested parties to make the most of the NHS – please <a href="/contact">sign up</a> to learn more.</a>
</div>
