
<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Prescribing Analytics </title>
	<meta name="viewport" content="width=device-width; initial-scale = 1.0; maximum-scale=1.0; user-scalable=no" />

						<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold" />





	<link rel="stylesheet" href="http://test.prescribinganalytics.com/wp-content/themes/inkthemetrust/style.css" type="text/css" media="screen" />
	<link rel="alternate" type="application/rss+xml" title="Prescribing Analytics RSS Feed" href="http://test.prescribinganalytics.com/?feed=rss2" />
	<link rel="alternate" type="application/atom+xml" title="Prescribing Analytics Atom Feed" href="http://test.prescribinganalytics.com/?feed=atom" />
	<link rel="pingback" href="http://test.prescribinganalytics.com/xmlrpc.php" />



	<link rel="alternate" type="application/rss+xml" title="Prescribing Analytics &raquo; Home/ Statin Waste Comments Feed" href="http://test.prescribinganalytics.com/?feed=rss2&#038;page_id=82" />
<link rel='stylesheet' id='superfish-css'  href='http://test.prescribinganalytics.com/wp-content/themes/inkthemetrust/css/superfish.css?ver=1.4.8' type='text/css' media='all' />
<link rel='stylesheet' id='slideshow-css'  href='http://test.prescribinganalytics.com/wp-content/themes/inkthemetrust/css/flexslider.css?ver=2.0' type='text/css' media='all' />
<script type='text/javascript' src='http://test.prescribinganalytics.com/wp-includes/js/comment-reply.js?ver=3.4.1'></script>
<script type='text/javascript' src='http://test.prescribinganalytics.com/wp-includes/js/jquery/jquery.js?ver=1.7.2'></script>
<link rel='prev' title='Sample Page' href='http://test.prescribinganalytics.com/?page_id=2' />
<link rel='next' title='About this site' href='http://test.prescribinganalytics.com/?page_id=93' />
<meta name="generator" content="WordPress 3.4.1" />
<link rel='canonical' href='http://test.prescribinganalytics.com/' />
<meta name="generator" content=" " />

<style type="text/css" media="screen">




#mainNav ul a, #mainNav ul li.sfHover ul a { color: #8f8f8f !important;	}
	#mainNav ul li.current a,
	#mainNav ul li.current-cat a,
	#mainNav ul li.current_page_item a,
	#mainNav ul li.current-menu-item a,
	#mainNav ul li.current-post-ancestor a,
	.single-post #mainNav ul li.current_page_parent a,
	#mainNav ul li.current-category-parent a,
	#mainNav ul li.current-category-ancestor a,
	#mainNav ul li.current-portfolio-ancestor a,
	#mainNav ul li.current-projects-ancestor a {
		color: #2e2e2e !important;
	}
	#mainNav ul li.sfHover a,
	#mainNav ul li a:hover,
	#mainNav ul li:hover {
		color: #2e2e2e !important;
	}
	#mainNav ul li.sfHover ul a:hover { color: #2e2e2e !important;}

blockquote, address {
	border-left: 5px solid #cdb980;
}
#content #filterNav, #content .project.small .overlay, .f_circleG, .skillList li span a:hover, .tax-skill #pageHead { background: #cdb980;}
@-webkit-keyframes f_fadeG{
0%{background-color:#ffffff}
100%{background-color:#cdb980;}
}
@-moz-keyframes f_fadeG{
0%{background-color:#ffffff}
100%{background-color:#cdb980;}
}
@-o-keyframes f_fadeG{
0%{background-color:#ffffff}
100%{background-color:#cdb980;}
}
@-ms-keyframes f_fadeG{
0%{background-color:#ffffff}
100%{background-color:#cdb980;}
}

a { color: #3a8585;}
a:hover {color: #f1532f;}
.button, #searchsubmit, input[type="submit"] {background-color: #757575 !important;}
.button:hover, #searchsubmit:hover, input[type="submit"]:hover {background-color: #595959 !important;}

</style>

<!--[if IE 7]>
<link rel="stylesheet" href="http://test.prescribinganalytics.com/wp-content/themes/inkthemetrust/css/ie7.css" type="text/css" media="screen" />
<![endif]-->
<!--[if IE 8]>
<link rel="stylesheet" href="http://test.prescribinganalytics.com/wp-content/themes/inkthemetrust/css/ie8.css" type="text/css" media="screen" />
<![endif]-->




<style type="text/css" id="custom-background-css">
body.custom-background { background-image: url('http://test.prescribinganalytics.com/wp-content/uploads/2012/11/bg121.jpg'); background-repeat: no-repeat; background-position: top left; background-attachment: fixed; }
</style>

</head>

<body class="home page page-id-82 page-template-default custom-background " >

<div id="container">
<div id="header">
	<div class="inside clearfix">

				<div id="logo">

			<h1 class="logo"><a href="/"><img src="http://test.prescribinganalytics.com/wp-content/uploads/2012/11/sitelogo.jpg" alt="Prescribing Analytics" /></a></h1>

		</div>

		<div id="mainNav" class="clearfix">
			<div class="menu-menumain-container"><ul id="menu-menumain" class="sf-menu"><li id="menu-item-113" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-82 current_page_item menu-item-113"><a href="/">Home/ Statin Waste</a></li>
<li id="menu-item-109" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-109"><a href="/analysis">Statin Analysis</a></li>
<li id="menu-item-108" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-108"><a href="/primer">Why what your GP prescribes matters – A Primer</a></li>
<li id="menu-item-111" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-111"><a href="/wasteful">Wasteful prescribing</a></li>
<li id="menu-item-110" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-110"><a href="/future">Future Plans</a></li>
<li id="menu-item-112" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-112"><a href="/about">About this site</a></li>
</ul></div>
		</div>
		<div id="sidebar">
			<div id="sidebar" class="clearfix">

    <div id="search-2" class="widget_search sidebarBox widgetBox"><form method="get" id="searchform"   action="http://test.prescribinganalytics.com/">
<input type="text" value="Type and press enter to search."   name="s" id="s"
onblur="if (this.value == '')   {this.value = 'Type and press enter to search.';}"
onfocus="if (this.value == 'Type and press enter to search.'){this.value = '';}" />
<input type="hidden" id="searchsubmit" />
</form></div><div id="text-2" class="widget_text sidebarBox widgetBox"><h3>About Prescribing Analytics</h3>			<div class="textwidget"><p>Two line summary of the site &#8211; Lorem ipsum dolor sit amet, consectetur adipiscing elit.  </p>
<p>Drop us an email at <a href="mailto: info@prescribinganalytics.com">info@prescribinganalytics.com</a></p>
</div>
		</div><div id="text-4" class="widget_text sidebarBox widgetBox"><h3>Sign up Form</h3>			<div class="textwidget"><p>sign up form for people wanting to help</p>
<p><a href="http://themetrust.com/" target="_blank" class="button ">Get in touch</a></p>
</div>
		</div><div id="text-3" class="widget_text sidebarBox widgetBox">			<div class="textwidget"><p><a href="http://test.prescribinganalytics.com/?page_id=93"><img src="/wp-content/uploads/2012/11/logos1.jpg" width="165" height="127" /></a></p>
</div>
		</div></div><!-- end sidebar -->
		</div>
	</div>
</div>


<div id="main" class="clearfix">

	<div id="content">
		<div class="post-82 page type-page status-publish hentry clearfix box">
            <%= yield %>

        </div>
    </div>
	<div id="footer">

		<div class="inside"><p>Contact us about analytics services <a href="http://test.openhealthcare.org.uk/">link</a>

</p></div>
	</div><!-- end footer -->
</div><!-- end main -->
</div><!-- end container -->
<script type='text/javascript' src='http://test.prescribinganalytics.com/wp-content/themes/inkthemetrust/js/superfish.js?ver=1.4.8'></script>
<script type='text/javascript' src='http://test.prescribinganalytics.com/wp-content/themes/inkthemetrust/js/jquery.fitvids.js?ver=1.0'></script>
<script type='text/javascript' src='http://test.prescribinganalytics.com/wp-content/themes/inkthemetrust/js/jquery.isotope.min.js?ver=1.5.19'></script>
<script type='text/javascript' src='http://test.prescribinganalytics.com/wp-content/themes/inkthemetrust/js/jquery.flexslider-min.js?ver=1.8'></script>
<script type='text/javascript' src='http://test.prescribinganalytics.com/wp-content/themes/inkthemetrust/js/tinynav.min.js?ver=1.05'></script>
<script type='text/javascript' src='http://test.prescribinganalytics.com/wp-content/themes/inkthemetrust/js/theme_trust.js?ver=1.0'></script>
</body>
</html>