<div id="pageHead">
    <h1>Methodology</h1>
</div>

<div class="inside">
					<p>Whether you’re a commissioner, a prescriber, or a patient, we are developing tools to help all interested parties to make the most of the NHS &#8211; please sign up [LINK} to learn more.</p>
</div>