<div id="pageHead">
    <h1>Why what your GP prescribes matters - A Primer</h1>
</div>

<div class="inside">
<p><strong>0. There&apos;s only so much money in the pot, all drug therapies are not created equal, some offer better value than others</strong></p>
<p>There is only a finite amount of resource available to be spent on health. Given this, it is imperative that this resource is not wasted on therapies which have not been proven to offer good value for money.</p>
<p>Whether or not a drug therapy offers good value for money depends on the net effect it has on health and the amount of money it costs.</p>
<p><strong>1. Randomized control trials let us find out which drug therapies work, NICE and healthcare professionals decide if they&apos;re worth prescribing, people who sell drugs try to influence the process</strong></p>
<p>We find out what effect a drug therapy has on health is by conducting randomized control trials.</p>
<p>In the UK, the National Institute of Clinical Excellence (NICE) assesses the evidence (randomized control trials) and makes recommendations about which drug therapies represent good value for money and which ones do not.</p>
<p>Healthcare professionals, such as GPs, retain a high degree of autonomy in deciding which drug therapy to prescribe. Individual healthcare professionals consider the evidence and exercise their judgement in deciding which drug therapy to prescribe in a particular circumstance.</p>
<p>The pharmaceutical industry may be expected to deliberately manipulate the creation and communication of evidence about which drug therapy is best in order to maximise profits as far as the law and society permits them to do so.</p>
<p>It can be very hard to know which drug therapy is best because there are many different drug therapies and lots of research. Also, because it is profitable for the people who sell drugs to exaggerate the positive effects of their drug therapies and to play down the negative effects.</p>
<p><strong>2. Independent critical analysis, and regulation, help to make sure that the best use of money is made. Open data helps to make this happen.</strong><br />
Independent critical analysis and regulation of the pharmaceutical industry, together with the judgement of healthcare professionals, is essential to ensuring that the finite amount of money available to be spent on health is put to best use.</p>
<p>Recently, as part of the Government&apos;s Open Data initiative the NHS Information Centre (NHS IC), published all of the drug therapy prescriptions made by GPs in the UK.</p>
<p>This offers an important opportunity for independent critical analysis of GP prescribing and identification of waste. Waste here is defined as prescribing a drug, outside of the context of a randomized control trial, which is not proven to offer good value for money.</p>

<p><strong>3. We&apos;ve been critically analyzing GP prescribing data. A preliminary finding is that about &pound;25 million pounds a month is wasted on drugs to lower cholestrol (statins) that are not proven to offer good value for money.</strong></p>


<p>Treatment with statins is well established as being a safe and effective way of reducing the risk of having a heart attack or stroke. There are 5 statins available in the BNF: Simvastatin, Atorvastatin, Rosuvastatin, Pravastatin, and Fluvastatin. NICE guidelines recommend using Simvastatin 40mg (or a drug of similar efficacy and acquistion cost).</p>
<p>Because Simvastatin is the oldest statin there is a large body of evidence supporting its efficacy and safety. It is also relatively cheap because its patent has expired. When a drug patent expires the profitability of the drug for the pharmaceutical industry is reduced.</p>
<p>A response to this is to make so called "me-too" drugs which are subtlety different, in order to earn a new patent, but that confer little or no added therapeutic benefit. These drugs are then marketed heavily to doctors through adverts and by drug company representatives (drug reps).</p>
<p>Unfortunately, "me-too" drugs also carry the risk of being new and having a shorter window for safety issues to have become apparent. Prescribing them where they are not proven to offer better value for money that older treatments is risky and wasteful.</p>
<p>Our very conservative analysis of how much money is wasted on statins that should only rarely or never be prescribed found that about &pound;25 million pounds could be saved each month!</p>

<p><strong>4. How can I help?</strong></p>
<p>Join our mailing list</p>
<p>Ask your GP about drug reps and let us know</p>
<p>Write to your CCG/PCT/MP to ask for systematic change to fix this</p>
<p><strong>References:</strong><br />
<a href="http://www.burningyourmoney.org/">http://www.burningyourmoney.org/</a> (our preliminary statin waste analysis)<br />
<a href="http://www.nice.org.uk/CG67">http://www.nice.org.uk/CG67</a> (NICE guidelines on Lipid Modification)<br />

<a href="http://www.bmj.com.libproxy.ucl.ac.uk/content/341/bmj.c6449">http://www.bmj.com.libproxy.ucl.ac.uk/content/341/bmj.c6449</a> (James Moon paper getting better value from NHS budget)<br />
Bad Pharma (description of pharmaceutical industry behaviour and how evidence about which is the best value drug is deliberately distorted)<br />
PLOS etc ref for marketing to docs working</p>
</div>
