<div id="pageHead">
				<h1>Why prescriptions matter</h1>

			</div>

			<div class="inside">

					<h3>There&#8217;s only so much money in the pot, all drug therapies are not created equal, some offer better value than others</h3>
<p>There is only a finite amount of money available to be spent on health. It is imperative that this money is not spent on therapies which have not been proven to offer good value for money. </p>
<p>The value of a drug therapy depends on the net effect it has on health, and the amount of money it costs.</p>

<h3>Randomized controlled trials let us find out which drug therapies work, NICE and healthcare professionals decide if they&#8217;re worth prescribing, people who sell drugs try to influence the process</h3>



<p>We find out what effect a drug therapy has on health is by conducting randomized controlled trials.</p>
<p>In the UK, the National Institute of Clinical Excellence (NICE) assesses the evidence (by doing meta-analyses and cost-effectiveness assessments based on RCTs) and makes recommendations about which drug therapies represent good value for money and which ones do not.</p>
<p>Healthcare professionals, such as GPs, retain a high degree of autonomy in deciding which drug therapy to prescribe. Individual healthcare professionals consider the evidence and exercise their judgement in deciding which drug therapy to prescribe in a particular circumstance. </p>

<h3>What other factors influence prescribing?</h3>
<p>The pharmaceutical industry may reasonably be expected to use marketing, advertising, and visits from sales representatives to increase prescribing of expensive branded medications, in order to maximise profits.</p>

<h3>Independent critical analysis, and regulation, help to make sure that the best use of money is made. Open data helps to make this happen.</h3>

<p>Independent critical analysis of the evidence on medicines and their patterns of use, together with the judgement of healthcare professionals, is essential to ensuring that we get the greatest possible benefit from the finite amount of money available to spend on health.</p>

<h3>
We&#8217ve been critically analyzing GP prescribing data. A preliminary finding is that about &pound27 million pounds a month has historically been wasted on branded versions of drugs to lower cholesterol (statins) that are not proven to offer good value for money.
</h3>

<p>Treatment with statins is well established as being a safe and effective way of reducing the risk of having a heart attack or stroke. There are 5 statins available in the BNF: Simvastatin, Atorvastatin, Rosuvastatin, Pravastatin, and Fluvastatin. NICE guidelines recommend using Simvastatin 40mg (or a drug of similar efficacy and acquisition cost).
Because Simvastatin is the oldest statin there is a large body of evidence supporting its efficacy and safety. It is also relatively cheap because its patent has expired. When a drug patent expires the profitability of the drug for the pharmaceutical industry is reduced.</p>



						</div>